<header>
  <h1>Olá, Alessandra Érika da Costa e Silva,</h1>
</header>

<article>
  <p>Viagem à vista!!!</p>
  <p>Estamos ansiosos pela sua chegada!</p>
  <p>
    E pensando no seu conforto e celeridade do seu check-in, enviamos o link
    abaixo para que você preencha a sua ficha de hospedagem de forma online e,
    possa aproveitar a sua estadia conosco da melhor forma possível.
  </p>
  <p><a href="https://www.google.com">Ficha de hospedagem</a></p>
</article>
